

<ion-content [fullscreen]="true">
  
  <div class="header">
   
      <ion-chip >
        <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
      </ion-chip>
     
     
      <ion-label ><img src="../../../assets/centlib.png" height="20px"> Mathematics (Basic One)</ion-label>
       </div>
     
  
    <div class="dash" >

      <p>Choose  the level of exammination you will like to be tested on.</p>
    
  </div>
  
 
 <div class="content">
   <div class="card">
     <img src="../../../assets/a.png">
     <p>MULTIPLE CHOICE</p>
     
   </div>
   <div class="card">
     <img src="../../../assets/a.png">
     <p>FILL IN THE GAP</p>
     
   </div>
   <div class="card">
     <img src="../../../assets/a.png">
     <p>THEORY</p>
     
   </div>
   <div class="card">
     <img src="../../../assets/grad.png">
     <p>BECE EXAM</p>
     
   </div>
 </div>
 
 </ion-content>
 