

<ion-content [fullscreen]="true">
  
  <div class="header">
   
 <ion-chip slot="start" style="margin-left: 1px;">
   <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
 </ion-chip>


 <ion-label class="ion-test-center">Primary School</ion-label>
  </div>
  
    <div class="dash" >

      <p>Choose the level you will like to be tested on.</p>
    
  </div>
  
 
 <div class="content">
   <div class="card">
     <img src="../../../assets/1.png">
     <p>J.S.S ONE</p>
     
   </div>
   <div class="card">
     <img src="../../../assets/2.png">
     <p>J.S.S TWO</p>
     
   </div>
   <div class="card">
     <img src="../../../assets/3.png">
     <p>J.S.S THREE</p>
     
   </div>
   <div class="card">
    <img src="../../../assets/1.png">
    <p>S.S.S ONE</p>
    
  </div>
  <div class="card">
    <img src="../../../assets/2.png">
    <p>S.S.S TWO</p>
    
  </div>
  <div class="card">
    <img src="../../../assets/3.png">
    <p>S.S.S THREE</p>
    
  </div>
 </div>
 
 </ion-content>
 