<ion-content >


  <ion-grid>
    <ion-row>

      <ion-col size-xs="12" size-sm="12"  size-md="10" offsetMd="1">
         

              <h2 style="color: var(--ion-color-primary)" class="logo">Subject </h2>
              <p class="logo text">Choose the subject combination you will like to practice on.</p>
              <p style="margin-left: 1rem">Please select a minimum of five (5) subjects</p>
            <div class="regSectionM text" >

             <ion-grid>
              <ion-row>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">Chemistry</ion-checkbox>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">Physics</ion-checkbox>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">Economics</ion-checkbox>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">Biology</ion-checkbox>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">Science combined</ion-checkbox>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">English</ion-checkbox>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">Geography</ion-checkbox>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">Accounting</ion-checkbox>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">Mathematics</ion-checkbox>
                </ion-col>
                <ion-col size-xs="6">
                  <ion-checkbox labelPlacement="end">ICT</ion-checkbox>
                </ion-col>
              </ion-row>
             </ion-grid>
            
             

             <div class="ion-padding ">
              <ion-button type="submit"  expand="block">Finish</ion-button>
            </div>
             




            </div>




      </ion-col>

    </ion-row>
  </ion-grid>




</ion-content>
