<ion-header [translucent]="true" mode="ios"> 
  <ion-toolbar>
    <h3 slot="start">Mathematics</h3>
   <ion-label slot="end" >
    <!-- <ion-text>Time Left-</ion-text> -->
   
      <ion-chip class="text-danger" *ngFor="let tim of duration">
        <ion-icon name="alarm"></ion-icon>
        &nbsp; {{ times }}
      
      
      </ion-chip>
   </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div class="testarea">
    <div class="quest" *ngFor="let quest of questions let i = index">
      <h4>Question  {{ i }}  of {{ anoth1 }} </h4>
      <h5> {{ quest.questionText }} </h5>

  </div>
    <div class="options" *ngFor="let quest of options">
    
      <ion-list>
        <ion-radio-group value="end">
    
          <ion-item lines="none">
            <ion-radio value="start" justify="space-between">
              <p style="white-space: normal; "> Line Packed at the Start</p>
            </ion-radio>
          </ion-item>
    
    
        </ion-radio-group>
      </ion-list>
    
    </div>
    <div class="nextprev">  
      <ion-button fill="outline" color="warning">Previous</ion-button>
      <ion-button fill="outline" color="primary" style="float: right;">Previous</ion-button>

    </div>
  
  </div>
</ion-content>
