
<ion-header  mode="ios">
  <ion-toolbar>
    <div class="header">
 
      <ion-chip >
        <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
      </ion-chip>
     
     
      <ion-label >Mathematics</ion-label>
       </div>
       
       <div class="dash" >
        <h5>SCHEME OF WORK</h5>
        <p>Choose which topic you will like to be tested on.</p>
      
    </div>
    
   
    <div class="dash2" >
      <h5>Subject: <em>Mathematics</em></h5>
      <h6>Class: <em>J.S.S One(1)</em></h6>
      <h6>Duration: <em>One academic term (10-12 weeks)</em></h6>
    
  </div>
  
  </ion-toolbar>

   
</ion-header>
<ion-content [fullscreen]="true">
  
    <div class="contents">
      <div class="each">
        <div class="topic">
        </div>
        <div class="content">
          <h6>Week 1: Topic: Introduction to Numbers and Counting </h6>
          <ul>
            <li>Counting numbers from 1 to 10</li>
            <li>Recognizing and writing numerals 1 to 10</li>
            <li>Understanding the concept of one-to-one correspondence</li>
            <li>Identifying and matching quantities with numerals</li>
          </ul>

        </div>
        <button>Take Test</button>
 
      </div>
      <div class="each">
        <div class="topic">
        </div>
        <div class="content">
          <h6>Week 1: Topic: Introduction to Numbers and Counting </h6>
          <ul>
            <li>Counting numbers from 1 to 10</li>
            <li>Recognizing and writing numerals 1 to 10</li>
            <li>Understanding the concept of one-to-one correspondence</li>
            <li>Identifying and matching quantities with numerals</li>
          </ul>

        </div>
        <button>Take Test</button>
 
      </div>
      <div class="each">
        <div class="topic">
        </div>
        <div class="content">
          <h6>Week 1: Topic: Introduction to Numbers and Counting </h6>
          <ul>
            <li>Counting numbers from 1 to 10</li>
            <li>Recognizing and writing numerals 1 to 10</li>
            <li>Understanding the concept of one-to-one correspondence</li>
            <li>Identifying and matching quantities with numerals</li>
          </ul>

        </div>
        <button>Take Test</button>
 
      </div>
     

    </div>
 </ion-content>
 