

<ion-content [fullscreen]="true">
  
 <div class="header">
  
<ion-chip>
  <ion-icon name="chevron-back-outline" color="primary"></ion-icon>
  <ion-label>Back</ion-label>
</ion-chip>
 </div>

 <div class="dash">
  <div class="left">

  <h4>TEST CENTRE</h4>
  <p>Here, you take tests based on difficulty levels and have access to your scores and performance history on your dashboard.</p>
  </div>
  <div class="right">
    <img src="../../../assets/test.png">
  </div>

  <div class="clear-float"></div>
</div>


<div class="content">
  <div class="card">
    <img src="../../../assets/centlib.png">
    <p>Primary School</p>
    
  </div>
  <div class="card">
    <img src="../../../assets/walk.png">
    <p>Secondary School</p>
    
  </div>
  <div class="card">
    <img src="../../../assets/grad.png">
    <p>Tertiary School</p>
    
  </div>
</div>

</ion-content>
